html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --clr-main-bg: #f0f4fb;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  background-color: var(--clr-main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c3e50;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 1;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 3.5em;
}

h3 {
  font-size: 0.75rem;
  margin-bottom: 1em;
}

.card {
  background-color: #ffffff;
  padding: 5em;
  border-radius: 1em;
  width: 750px;
  z-index: -1;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
}

.contact {
  width: 150px;
  border-radius: 0.8em;
  box-shadow: 0 0.5em 1em #c6d8f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #ffffff;
  padding: 0 1em 1em;
}

.contact::before {
  content: "";
  position: absolute;
  inset: -1em;
  z-index: -1;
  background: var(--clr-main-bg);
  border-radius: 1em;
}

.contact img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 1em;
}

.options {
  display: none;
}

.add-new {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 0.3em solid var(--clr-main-bg);
  position: relative;
}

.add-new::before,
.add-new::after {
  content: "";
  width: 60%;
  height: 3px;
  background-color: #c6d8f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-new::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

@media screen and (max-width: 800px) {
  .card {
    width: 90%;
    padding: 3em 2em;
  }
}

@media screen and (max-width: 570px) {
  .contacts {
    flex-direction: column;
  }
}
